<!DOCTYPE html>
<html lang="en">

<head>

    <!-- Meta -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Style -->
    <link type="text/css" href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
    {% block style %}
    {% endblock %}

    <!-- Scripts -->
    {% block scripts %}
    {% endblock %}

    <title>{% block title %}{% endblock %}</title>

</head>

<body>

    <menu>
        <ul>
            <li><a href="{{ url_for('views.home') }}">Home</a></li>
            <li><a href="{{ url_for('views.register') }}">Register</a></li>
            <li><a href="{{ url_for('views.login') }}">Login</a></li>
        </ul>
    </menu>

    <content>
        {% block content %}
        {% endblock %}
    </content>

</body>

</html>
